### Evaluation Metrics
- Accuracy: number of times we pridict correctly, divided by total number of observation 
- Precision: % of positive predections that we made 
- Recall: % of positive cases that we accurately prdicted. 


- Choose Recall if the idea of false positives is far better than false negatives, in other words, if the occurrence of false negatives is unaccepted/intolerable, that you’d rather get some extra false positives(false alarms) over saving some false negatives, like in our diabetes example.

- Choose precision if you want to be more confident of your true positives. for example, Spam emails. You’d rather have some spam emails in your inbox rather than some regular emails in your spam box

- Choose Specificity if you want to cover all true negatives, meaning you don’t want any false alarms, you don’t want any false positives. for example, you’re running a drug test in which all people who test positive will immediately go to jail, you don’t want anyone drug-free going to jail. False positives here are intolerable.

## Read following for refrence 

- https://towardsdatascience.com/accuracy-recall-precision-f-score-specificity-which-to-optimize-on-867d3f11124 
- https://www.analyticsvidhya.com/blog/2019/08/11-important-model-evaluation-error-metrics/

In [4]:
import pandas as pd
from sklearn.metrics import confusion_matrix

### Exercises

## 2

In [5]:
# 2. Given the following confusion matrix, evaluate (by hand) the model's performance.

df =pd.DataFrame()
df['pred dog']= ['46', '13']
df['pred cat']= ['7', '34']
df.index = ['Actual Dog', 'Actual Cat']
df

           pred dog pred cat
Actual Dog       46        7
Actual Cat       13       34

In [6]:
TP = 34
FP = 7
TN = 46
FN = 13
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
print(f'Accuracy of the cat predictor models is {Accuracy} %')
Recall = TP/(TP+FN) * 100
Recall
Precision = TP/(TP+FP) * 100
Precision
print('Accuracy: ', Accuracy, '%')
print('Recall: ', Recall, '%')
print ('Precision:', Precision, '%')

Accuracy of the cat predictor models is 80.0 %
Accuracy:  80.0 %
Recall:  72.3404255319149 %
Precision: 82.92682926829268 %

### Cat prediction 
In the context of this problem, what is a false positive?
- predicited cat when its a dog 

In the context of this problem, what is a false negative?

- actual a cat predicted a dog 


 How would you describe this model?
- Accuracy

### Dog prediction

In [7]:
TP = 46
FP = 13
TN = 34
FN = 7
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
print(f'Accuracy of the cat predictor models is {Accuracy} %')
Recall = TP/(TP+FN) * 100
Recall
Precision = TP/(TP+FP) * 100
Precision
print('Accuracy: ', Accuracy, '%')
print('Recall: ', Recall, '%')
print ('Precision:', Precision, '%')

Accuracy of the cat predictor models is 80.0 %
Accuracy:  80.0 %
Recall:  86.79245283018868 %
Precision: 77.96610169491525 %


In the context of this problem, what is a false positive?
- predicited dog when its a cat

In the context of this problem, what is a false negative?

- actual a dog predicted a cat 


 How would you describe this model?
- Accuracy

## 3

### 
You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

In [18]:
c3 = pd.read_csv('/Users/dilip/Desktop/Codeup-data-science/classification-exercise /model_eval/c3.csv')
c3

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [16]:
# Use the predictions dataset and pandas to help answer the following questions:


- An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [19]:
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [20]:
# crosstab acutal and model 1

In [22]:
pd.crosstab(c3.actual, c3.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [33]:
# lets check accuracy, recall and precision for model and describe the model ( do it all just for practice or may be we can use it latter )

In [45]:
# Recall because FP < FN 
TP = 8
TN = 182
FP = 2
FN = 8
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy
Recall = TP/(TP+FN) * 100
Recall
Precision = TP/(TP+FP) * 100
Precision
print('Accuracy: ', Accuracy, '%')
print('Recall: ', Recall, '%')
print ('Precision:', Precision, '%')

Accuracy:  95.0 %
Recall:  50.0 %
Precision: 80.0 %

In [ ]:
# crosstab acutal and model 2

In [34]:
pd.crosstab(c3.actual, c3.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [42]:
# lets check accuracy, recall and precision for model and describe the model ( do it all just for practice or may be we can use it latter )

In [46]:
# Recall because occurance of false negative os unacctable 
TP = 9
TN = 103
FP = 81
FN = 7
Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy
Recall = TP/(TP+FN) * 100
Recall
Precision = TP/(TP+FP) * 100
Precision
print('Accuracy: ', Accuracy, '%')
print('Recall: ', Recall, '%')
print ('Precision:', Precision, '%')

Accuracy:  56.00000000000001 %
Recall:  56.25 %
Precision: 10.0 %

In [47]:
pd.crosstab(c3.actual, c3.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [48]:
# Recall 
TP = 13
TN = 98
FP = 86
FN = 3

Accuracy = (TP+TN)/(TP + TN +FP+ FN) * 100
Accuracy
Recall = TP/(TP+FN) * 100
Recall
Precision = TP/(TP+FP) * 100
Precision
print('Accuracy: ', Accuracy, '%')
print('Recall: ', Recall, '%')
print ('Precision:', Precision, '%')

Accuracy:  55.50000000000001 %
Recall:  81.25 %
Precision: 13.131313131313133 %

- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [50]:
# model 1 
TP1 = 8
TN1 = 182
FP1 = 2
FN1 = 8

Precision = TP1/(TP1+FP1) * 100
Precision
print ('Precision model 1:', Precision, '%')




# model 2
TP2 = 9
TN2 = 103
FP2 = 81
FN2 = 7
Precision = TP2/(TP2+FP2) * 100
Precision
print ('Precision model 2:', Precision, '%')


# model 3 
TP3 = 13
TN3 = 98
FP3 = 86
FN3 = 3
Precision = TP3/(TP3+FP3) * 100
Precision
print ('Precision model 3:', Precision, '%')

Precision model 1: 80.0 %
Precision model 2: 10.0 %
Precision model 3: 13.131313131313133 %

### 4


- You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

- At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

- Several models have already been developed with the data, and you can find their results here.

- Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [10]:
paws = pd.read_csv('/Users/dilip/Desktop/Codeup-data-science/classification-exercise /model_eval/gives_you_paws.csv')
paws

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [63]:
# look at class distribution
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

### a
In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [11]:
# Create a baseline with most frequent label ('dog')
paws["baseline"] = paws.actual.value_counts().idxmax()
paws.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [67]:
# get column names
models = list(paws.columns)
models = models[1:]
models

['model1', 'model2', 'model3', 'model4', 'baseline']

In [69]:
# get accuracy in dictionary form for each model
output = {}
for model in models:
    accuracy = (paws.actual == paws[model]).mean()
    output.update({model:accuracy})
    
output

{'model1': 0.8074,
 'model2': 0.6304,
 'model3': 0.5096,
 'model4': 0.7426,
 'baseline': 0.6508}

In [71]:
pd.DataFrame(output.items(), columns = ['model', 'accuracy'] )

      model  accuracy
0    model1    0.8074
1    model2    0.6304
2    model3    0.5096
3    model4    0.7426
4  baseline    0.6508

### b
Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [12]:
subset = paws[paws.actual == 'dog']
subset.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
8    dog    dog    cat    dog    dog      dog

In [73]:
# Model 1 Recall
(subset.actual == subset.model1).mean()

0.803318992009834

In [74]:
# Model 2 Recall
(subset.actual == subset.model2).mean()

0.49078057775046097

In [75]:
# Model 3 Recall
(subset.actual == subset.model3).mean()

0.5086047940995697

In [76]:
# Model 4 Recall
(subset.actual == subset.model4).mean()

0.9557467732022127

In [ ]:
# Dog team’s Phase-1 model is Model 4 with Recall of ~ 0.96

In [79]:
# Confusion Matrix for model 4
pd.crosstab(paws.model4, paws.actual)

actual   cat   dog
model4
cat      603   144
dog     1143  3110

### c
Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [13]:
subset = paws[paws.actual == 'cat']
subset.head()

   actual model1 model2 model3 model4 baseline
0     cat    cat    dog    cat    dog      dog
4     cat    cat    cat    dog    dog      dog
6     cat    cat    cat    cat    dog      dog
7     cat    dog    cat    cat    dog      dog
11    cat    cat    dog    cat    cat      dog

In [14]:
# Model 1 precision
(subset.actual == subset.model1).mean()

0.8150057273768614

In [15]:
# Model 2 precision
(subset.actual == subset.model2).mean()

0.8906071019473081

In [16]:
# Model 3 precision
(subset.actual == subset.model3).mean()

0.5114547537227949

In [17]:
# Model 4 precision
(subset.actual == subset.model4).mean()

0.34536082474226804

### 5 Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

- sklearn.metrics.accuracy_score
- sklearn.metrics.precision_score
- sklearn.metrics.recall_score
- sklearn.metrics.classification_report

In [20]:
from sklearn.metrics import classification_report

In [23]:
x = classification_report(paws.actual, paws.model1,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [24]:
print("Model 1")
pd.DataFrame(classification_report(paws.actual, paws.model1,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [25]:
print("Model 2")
pd.DataFrame(classification_report(paws.actual,paws.model2,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [26]:
print("Model 3")
pd.DataFrame(classification_report(paws.actual, paws.model3,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [27]:
print("Model 4")
pd.DataFrame(classification_report(paws.actual, paws.model4,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000